.idea
learning.iml
CoreJava/CoreJava.iml
Kafka_Tutorial/kafka-basics/kafka-basics.iml
Kafka_Tutorial/kafka-consumer-elasticsearch/kafka-consumer-elasticsearch.iml
Kafka_Tutorial/kafka-producer-twitter/kafka-producer-twitter.iml